/*
Machines API

This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/) for how to get started, more information about each endpoint, parameter descriptions, and examples.

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package machines

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PlatformAPIService PlatformAPI service
type PlatformAPIService service

type ApiPlatformPlacementsPostRequest struct {
	ctx context.Context
	ApiService *PlatformAPIService
	request *MainGetPlacementsRequest
}

// Get placements request
func (r ApiPlatformPlacementsPostRequest) Request(request MainGetPlacementsRequest) ApiPlatformPlacementsPostRequest {
	r.request = &request
	return r
}

func (r ApiPlatformPlacementsPostRequest) Execute() (*MainGetPlacementsResponse, *http.Response, error) {
	return r.ApiService.PlatformPlacementsPostExecute(r)
}

/*
PlatformPlacementsPost Get Placements

Simulates placing the specified number of machines into regions, depending on available capacity and limits.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlatformPlacementsPostRequest
*/
func (a *PlatformAPIService) PlatformPlacementsPost(ctx context.Context) ApiPlatformPlacementsPostRequest {
	return ApiPlatformPlacementsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MainGetPlacementsResponse
func (a *PlatformAPIService) PlatformPlacementsPostExecute(r ApiPlatformPlacementsPostRequest) (*MainGetPlacementsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MainGetPlacementsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.PlatformPlacementsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/placements"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlatformRegionsGetRequest struct {
	ctx context.Context
	ApiService *PlatformAPIService
	size *string
	cpuKind *string
	memoryMb *int32
	cpus *int32
	gpus *int32
	gpuKind *string
}

// guest machine size preset. default performance-1x
func (r ApiPlatformRegionsGetRequest) Size(size string) ApiPlatformRegionsGetRequest {
	r.size = &size
	return r
}

// guest CPU kind
func (r ApiPlatformRegionsGetRequest) CpuKind(cpuKind string) ApiPlatformRegionsGetRequest {
	r.cpuKind = &cpuKind
	return r
}

// guest memory in megabytes
func (r ApiPlatformRegionsGetRequest) MemoryMb(memoryMb int32) ApiPlatformRegionsGetRequest {
	r.memoryMb = &memoryMb
	return r
}

// guest CPU count
func (r ApiPlatformRegionsGetRequest) Cpus(cpus int32) ApiPlatformRegionsGetRequest {
	r.cpus = &cpus
	return r
}

// guest GPU count
func (r ApiPlatformRegionsGetRequest) Gpus(gpus int32) ApiPlatformRegionsGetRequest {
	r.gpus = &gpus
	return r
}

// guest GPU kind
func (r ApiPlatformRegionsGetRequest) GpuKind(gpuKind string) ApiPlatformRegionsGetRequest {
	r.gpuKind = &gpuKind
	return r
}

func (r ApiPlatformRegionsGetRequest) Execute() (*MainRegionResponse, *http.Response, error) {
	return r.ApiService.PlatformRegionsGetExecute(r)
}

/*
PlatformRegionsGet Get Regions

List all regions on the platform with their current Machine capacity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlatformRegionsGetRequest
*/
func (a *PlatformAPIService) PlatformRegionsGet(ctx context.Context) ApiPlatformRegionsGetRequest {
	return ApiPlatformRegionsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MainRegionResponse
func (a *PlatformAPIService) PlatformRegionsGetExecute(r ApiPlatformRegionsGetRequest) (*MainRegionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MainRegionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlatformAPIService.PlatformRegionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/regions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.cpuKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cpu_kind", r.cpuKind, "form", "")
	}
	if r.memoryMb != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "memory_mb", r.memoryMb, "form", "")
	}
	if r.cpus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cpus", r.cpus, "form", "")
	}
	if r.gpus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpus", r.gpus, "form", "")
	}
	if r.gpuKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gpu_kind", r.gpuKind, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
