openapi: 3.0.1
info:
  contact: {}
  description: "This site hosts documentation generated from the Fly.io Machines API\
    \ OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/)\
    \ for how to get started, more information about each endpoint, parameter descriptions,\
    \ and examples."
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Machines API
  version: "1.0"
externalDocs:
  url: https://fly.io/docs/machines/working-with-machines/
servers:
- url: https://api.machines.dev/v1
tags:
- description: "This site hosts documentation generated from the Fly.io Machines API\
    \ OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/apps-resource/)\
    \ for details about using the Apps resource."
  name: Apps
- description: "This site hosts documentation generated from the Fly.io Machines API\
    \ OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/machines-resource/)\
    \ for details about using the Machines resource."
  name: Machines
- description: "This site hosts documentation generated from the Fly.io Machines API\
    \ OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/volumes-resource/)\
    \ for details about using the Volumes resource."
  name: Volumes
paths:
  /apps:
    get:
      description: |
        List all apps with the ability to filter by organization slug.
      operationId: Apps_list
      parameters:
      - description: "The org slug, or 'personal', to filter apps"
        explode: true
        in: query
        name: org_slug
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
          description: OK
      summary: List Apps
      tags:
      - Apps
    post:
      description: |
        Create an app with the specified details in the request body.
      operationId: Apps_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
        description: App body
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Create App
      tags:
      - Apps
      x-codegen-request-body-name: request
  /apps/{app_name}:
    delete:
      description: |
        Delete an app by its name.
      operationId: Apps_delete
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content: {}
          description: Accepted
      summary: Destroy App
      tags:
      - Apps
    get:
      description: |
        Retrieve details about a specific app by its name.
      operationId: Apps_show
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: OK
      summary: Get App
      tags:
      - Apps
  /apps/{app_name}/machines:
    get:
      description: |
        List all Machines associated with a specific app, with optional filters for including deleted Machines and filtering by region.
      operationId: Machines_list
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Include deleted machines
        explode: true
        in: query
        name: include_deleted
        required: false
        schema:
          type: boolean
        style: form
      - description: Region filter
        explode: true
        in: query
        name: region
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Machine'
                type: array
          description: OK
      summary: List Machines
      tags:
      - Machines
    post:
      description: |
        Create a Machine within a specific app using the details provided in the request body.

        **Important**: This request can fail, and you’re responsible for handling that failure. If you ask for a large Machine, or a Machine in a region we happen to be at capacity for, you might need to retry the request, or to fall back to another region. If you’re working directly with the Machines API, you’re taking some responsibility for your own orchestration!
      operationId: Machines_create
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMachineRequest'
        description: Create machine request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
      summary: Create Machine
      tags:
      - Machines
      x-codegen-request-body-name: request
  /apps/{app_name}/machines/{machine_id}:
    delete:
      description: |
        Delete a specific Machine within an app by Machine ID, with an optional force parameter to force kill the Machine if it's running.
      operationId: Machines_delete
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: Force kill the machine if it's running
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content: {}
          description: OK
      summary: Destroy Machine
      tags:
      - Machines
    get:
      description: |
        Get details of a specific Machine within an app by the Machine ID.
      operationId: Machines_show
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
      summary: Get Machine
      tags:
      - Machines
    post:
      description: |
        Update a Machine's configuration using the details provided in the request body.
      operationId: Machines_update
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMachineRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Machine'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Update Machine
      tags:
      - Machines
      x-codegen-request-body-name: request
  /apps/{app_name}/machines/{machine_id}/cordon:
    post:
      description: |
        “Cordoning” a Machine refers to disabling its services, so the Fly Proxy won’t route requests to it. In flyctl this is used by blue/green deployments; one set of Machines is started up with services disabled, and when they are all healthy, the services are enabled on the new Machines and disabled on the old ones.
      operationId: Machines_cordon
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Cordon Machine
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/events:
    get:
      description: |
        List all events associated with a specific Machine within an app.
      operationId: Machines_list_events
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MachineEvent'
                type: array
          description: OK
      summary: List Events
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/exec:
    post:
      description: |
        Execute a command on a specific Machine and return the raw command output bytes.
      operationId: Machines_exec
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MachineExecRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/flydv1.ExecResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/flydv1.ExecResponse'
          description: "stdout, stderr, exit code, and exit signal are returned"
        "400":
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Execute Command
      tags:
      - Machines
      x-codegen-request-body-name: request
  /apps/{app_name}/machines/{machine_id}/lease:
    delete:
      description: |
        Release the lease of a specific Machine within an app. Machine leases can be used to obtain an exclusive lock on modifying a Machine.
      operationId: Machines_release_lease
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: Existing lease nonce
        explode: false
        in: header
        name: fly-machine-lease-nonce
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Release Lease
      tags:
      - Machines
    get:
      description: |
        Retrieve the current lease of a specific Machine within an app. Machine leases can be used to obtain an exclusive lock on modifying a Machine.
      operationId: Machines_show_lease
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'
          description: OK
      summary: Get Lease
      tags:
      - Machines
    post:
      description: |
        Create a lease for a specific Machine within an app using the details provided in the request body. Machine leases can be used to obtain an exclusive lock on modifying a Machine.
      operationId: Machines_create_lease
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Existing lease nonce to refresh by ttl, empty or non-existent\
          \ to create a new lease"
        explode: false
        in: header
        name: fly-machine-lease-nonce
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeaseRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lease'
          description: OK
      summary: Create Lease
      tags:
      - Machines
      x-codegen-request-body-name: request
  /apps/{app_name}/machines/{machine_id}/metadata:
    get:
      description: |
        Retrieve metadata for a specific Machine within an app.
      operationId: Machines_show_metadata
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: OK
      summary: Get Metadata
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/metadata/{key}:
    delete:
      description: |
        Delete metadata for a specific Machine within an app by providing a metadata key.
      operationId: Machines_delete_metadata
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: Metadata Key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
      summary: Delete Metadata
      tags:
      - Machines
    post:
      description: |
        Update metadata for a specific machine within an app by providing a metadata key.
      operationId: Machines_update_metadata
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: Metadata Key
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Update Metadata
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/ps:
    get:
      description: |
        List all processes running on a specific Machine within an app, with optional sorting parameters.
      operationId: Machines_list_processes
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: Sort by
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - description: Order
        explode: true
        in: query
        name: order
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ProcessStat'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: List Processes
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/restart:
    post:
      description: |
        Restart a specific Machine within an app, with an optional timeout parameter.
      operationId: Machines_restart
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: Restart timeout as a Go duration string or number of seconds
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: string
        style: form
      - description: Unix signal name
        explode: true
        in: query
        name: signal
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Restart Machine
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/signal:
    post:
      description: |
        Send a signal to a specific Machine within an app using the details provided in the request body.
      operationId: Machines_signal
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalRequest'
        description: Request body
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Signal Machine
      tags:
      - Machines
      x-codegen-request-body-name: request
  /apps/{app_name}/machines/{machine_id}/start:
    post:
      description: |
        Start a specific Machine within an app.
      operationId: Machines_start
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Start Machine
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/stop:
    post:
      description: |
        Stop a specific Machine within an app, with an optional request body to specify signal and timeout.
      operationId: Machines_stop
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopRequest'
        description: Optional request body
        required: false
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Stop Machine
      tags:
      - Machines
      x-codegen-request-body-name: request
  /apps/{app_name}/machines/{machine_id}/suspend:
    post:
      description: |
        Suspend a specific Machine within an app. The next start operation will attempt (but is not guaranteed) to resume the Machine from a snapshot taken at suspension time, rather than performing a cold boot.
      operationId: Machines_suspend
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Suspend Machine
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/uncordon:
    post:
      description: |
        “Cordoning” a Machine refers to disabling its services, so the Fly Proxy won’t route requests to it. In flyctl this is used by blue/green deployments; one set of Machines is started up with services disabled, and when they are all healthy, the services are enabled on the new Machines and disabled on the old ones.
      operationId: Machines_uncordon
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Uncordon Machine
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/versions:
    get:
      description: |
        List all versions of the configuration for a specific Machine within an app.
      operationId: Machines_list_versions
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/MachineVersion'
                type: array
          description: OK
      summary: List Versions
      tags:
      - Machines
  /apps/{app_name}/machines/{machine_id}/wait:
    get:
      description: |
        Wait for a Machine to reach a specific state. Specify the desired state with the state parameter. See the [Machine states table](https://fly.io/docs/machines/working-with-machines/#machine-states) for a list of possible states. The default for this parameter is `started`.

        This request will block for up to 60 seconds. Set a shorter timeout with the timeout parameter.
      operationId: Machines_wait
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Machine ID
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          type: string
        style: simple
      - description: 26-character Machine version ID
        explode: true
        in: query
        name: instance_id
        required: false
        schema:
          type: string
        style: form
      - description: wait timeout. default 60s
        explode: true
        in: query
        name: timeout
        required: false
        schema:
          type: integer
        style: form
      - description: desired state
        explode: true
        in: query
        name: state
        required: false
        schema:
          enum:
          - started
          - stopped
          - suspended
          - destroyed
          type: string
        style: form
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Wait for State
      tags:
      - Machines
  /apps/{app_name}/secrets:
    get:
      operationId: Secrets_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListSecret'
                type: array
          description: OK
      summary: List App secrets
      tags:
      - Secrets
  /apps/{app_name}/secrets/{secret_label}:
    delete:
      operationId: Secret_delete
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: App Secret Label
        explode: false
        in: path
        name: secret_label
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Destroy Secret
      tags:
      - Secrets
  /apps/{app_name}/secrets/{secret_label}/type/{secret_type}:
    post:
      operationId: Secret_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        description: secret body
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Create Secret
      tags:
      - Secrets
      x-codegen-request-body-name: request
  /apps/{app_name}/secrets/{secret_label}/type/{secret_type}/generate:
    post:
      operationId: Secret_generate
      responses:
        "201":
          content: {}
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Generate Secret
      tags:
      - Secrets
  /apps/{app_name}/volumes:
    get:
      description: |
        List all volumes associated with a specific app.
      operationId: Volumes_list
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Volume'
                type: array
          description: OK
      summary: List Volumes
      tags:
      - Volumes
    post:
      description: |
        Create a volume for a specific app using the details provided in the request body.
      operationId: Volumes_create
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVolumeRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
      summary: Create Volume
      tags:
      - Volumes
      x-codegen-request-body-name: request
  /apps/{app_name}/volumes/{volume_id}:
    delete:
      description: |
        Delete a specific volume within an app by volume ID.
      operationId: Volume_delete
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Volume ID
        explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
      summary: Destroy Volume
      tags:
      - Volumes
    get:
      description: |
        Retrieve details about a specific volume by its ID within an app.
      operationId: Volumes_get_by_id
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Volume ID
        explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
      summary: Get Volume
      tags:
      - Volumes
    put:
      description: |
        Update a volume's configuration using the details provided in the request body.
      operationId: Volumes_update
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Volume ID
        explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateVolumeRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Update Volume
      tags:
      - Volumes
      x-codegen-request-body-name: request
  /apps/{app_name}/volumes/{volume_id}/extend:
    put:
      description: |
        Extend a volume's size within an app using the details provided in the request body.
      operationId: Volumes_extend
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Volume ID
        explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendVolumeRequest'
        description: Request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendVolumeResponse'
          description: OK
      summary: Extend Volume
      tags:
      - Volumes
      x-codegen-request-body-name: request
  /apps/{app_name}/volumes/{volume_id}/snapshots:
    get:
      description: |
        List all snapshots for a specific volume within an app.
      operationId: Volumes_list_snapshots
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Volume ID
        explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/VolumeSnapshot'
                type: array
          description: OK
      summary: List Snapshots
      tags:
      - Volumes
    post:
      description: |
        Create a snapshot for a specific volume within an app.
      operationId: createVolumeSnapshot
      parameters:
      - description: Fly App Name
        explode: false
        in: path
        name: app_name
        required: true
        schema:
          type: string
        style: simple
      - description: Volume ID
        explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
          description: OK
      summary: Create Snapshot
      tags:
      - Volumes
  /tokens/kms:
    post:
      description: "This site hosts documentation generated from the Fly.io Machines\
        \ API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/apps-resource/)\
        \ for details about using the Apps resource."
      operationId: Tokens_request_Kms
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: KMS token
      summary: Request a Petsem token for accessing KMS
      tags:
      - Tokens
  /tokens/oidc:
    post:
      description: |
        Request an Open ID Connect token for your machine. Customize the audience claim with the `aud` parameter. This returns a JWT token. Learn more about [using OpenID Connect](/docs/reference/openid-connect/) on Fly.io.
      operationId: Tokens_request_OIDC
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOIDCTokenRequest'
        description: Optional request body
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OIDC token
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
      summary: Request an OIDC token
      tags:
      - Tokens
      x-codegen-request-body-name: request
components:
  schemas:
    App:
      example:
        organization:
          name: name
          slug: slug
        name: name
        id: id
        status: status
      properties:
        id:
          type: string
        name:
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        status:
          type: string
      type: object
    CheckStatus:
      example:
        output: output
        updated_at: updated_at
        name: name
        status: status
      properties:
        name:
          type: string
        output:
          type: string
        status:
          type: string
        updated_at:
          type: string
      type: object
    CreateAppRequest:
      example:
        app_name: app_name
        org_slug: org_slug
        enable_subdomains: true
        network: network
      properties:
        app_name:
          type: string
        enable_subdomains:
          type: boolean
        network:
          type: string
        org_slug:
          type: string
      type: object
    CreateLeaseRequest:
      example:
        description: description
        ttl: 0
      properties:
        description:
          type: string
        ttl:
          description: seconds lease will be valid
          type: integer
      type: object
    CreateMachineRequest:
      example:
        skip_service_registration: true
        lsvd: true
        name: name
        lease_ttl: 0
        region: region
        config: "{}"
        skip_launch: true
      properties:
        config:
          allOf:
          - $ref: '#/components/schemas/fly.MachineConfig'
          description: An object defining the Machine configuration
          type: object
        lease_ttl:
          type: integer
        lsvd:
          type: boolean
        name:
          description: "Unique name for this Machine. If omitted, one is generated\
            \ for you"
          type: string
        region:
          description: The target region. Omitting this param launches in the same
            region as your WireGuard peer connection (somewhere near you).
          type: string
        skip_launch:
          type: boolean
        skip_service_registration:
          type: boolean
      type: object
    CreateOIDCTokenRequest:
      description: Optional parameters
      example:
        aud: https://fly.io/org-slug
      properties:
        aud:
          example: https://fly.io/org-slug
          type: string
      type: object
    CreateSecretRequest:
      example:
        value:
        - 0
        - 0
      properties:
        value:
          items:
            type: integer
          type: array
      type: object
    CreateVolumeRequest:
      example:
        compute:
          gpu_kind: gpu_kind
          cpus: 1
          host_dedication_id: host_dedication_id
          gpus: 5
          cpu_kind: cpu_kind
          memory_mb: 5
          kernel_args:
          - kernel_args
          - kernel_args
        encrypted: true
        require_unique_zone: true
        snapshot_id: snapshot_id
        name: name
        size_gb: 0
        compute_image: compute_image
        region: region
        snapshot_retention: 6
        fstype: fstype
        source_volume_id: source_volume_id
      properties:
        compute:
          $ref: '#/components/schemas/fly.MachineGuest'
        compute_image:
          type: string
        encrypted:
          type: boolean
        fstype:
          type: string
        name:
          type: string
        region:
          type: string
        require_unique_zone:
          type: boolean
        size_gb:
          type: integer
        snapshot_id:
          description: restore from snapshot
          type: string
        snapshot_retention:
          type: integer
        source_volume_id:
          description: fork from remote volume
          type: string
      type: object
    ErrorResponse:
      example:
        details: "{}"
        error: error
        status: unknown
      properties:
        details:
          description: Deprecated
          type: object
        error:
          type: string
        status:
          $ref: '#/components/schemas/main.statusCode'
      type: object
    ExtendVolumeRequest:
      example:
        size_gb: 0
      properties:
        size_gb:
          type: integer
      type: object
    ExtendVolumeResponse:
      example:
        volume:
          auto_backup_enabled: true
          blocks: 6
          attached_machine_id: attached_machine_id
          created_at: created_at
          snapshot_retention: 2
          host_status: ok
          blocks_free: 5
          encrypted: true
          zone: zone
          blocks_avail: 1
          name: name
          size_gb: 5
          attached_alloc_id: attached_alloc_id
          id: id
          state: state
          region: region
          block_size: 0
          fstype: fstype
        needs_restart: true
      properties:
        needs_restart:
          type: boolean
        volume:
          $ref: '#/components/schemas/Volume'
      type: object
    ImageRef:
      example:
        registry: registry
        digest: digest
        tag: tag
        repository: repository
        labels:
          key: labels
      properties:
        digest:
          type: string
        labels:
          additionalProperties:
            type: string
          type: object
        registry:
          type: string
        repository:
          type: string
        tag:
          type: string
      type: object
    Lease:
      example:
        owner: owner
        expires_at: 0
        description: description
        nonce: nonce
        version: version
      properties:
        description:
          description: Description or reason for the Lease.
          type: string
        expires_at:
          description: ExpiresAt is the unix timestamp in UTC to denote when the Lease
            will no longer be valid.
          type: integer
        nonce:
          description: Nonce is the unique ID autogenerated and associated with the
            Lease.
          type: string
        owner:
          description: Owner is the user identifier which acquired the Lease.
          type: string
        version:
          description: Machine version
          type: string
      type: object
    ListApp:
      example:
        name: name
        id: id
        machine_count: 0
        network: "{}"
      properties:
        id:
          type: string
        machine_count:
          type: integer
        name:
          type: string
        network:
          type: object
      type: object
    ListAppsResponse:
      example:
        total_apps: 6
        apps:
        - name: name
          id: id
          machine_count: 0
          network: "{}"
        - name: name
          id: id
          machine_count: 0
          network: "{}"
      properties:
        apps:
          items:
            $ref: '#/components/schemas/ListApp'
          type: array
        total_apps:
          type: integer
      type: object
    ListSecret:
      example:
        publickey:
        - 0
        - 0
        label: label
        type: type
      properties:
        label:
          type: string
        publickey:
          items:
            type: integer
          type: array
        type:
          type: string
      type: object
    ListenSocket:
      example:
        address: address
        proto: proto
      properties:
        address:
          type: string
        proto:
          type: string
      type: object
    Machine:
      example:
        image_ref:
          registry: registry
          digest: digest
          tag: tag
          repository: repository
          labels:
            key: labels
        created_at: created_at
        host_status: ok
        nonce: nonce
        private_ip: private_ip
        checks:
        - output: output
          updated_at: updated_at
          name: name
          status: status
        - output: output
          updated_at: updated_at
          name: name
          status: status
        instance_id: instance_id
        updated_at: updated_at
        name: name
        id: id
        state: state
        region: region
        config:
          image: image
          init:
            entrypoint:
            - entrypoint
            - entrypoint
            swap_size_mb: 2
            tty: true
            cmd:
            - cmd
            - cmd
            kernel_args:
            - kernel_args
            - kernel_args
            exec:
            - exec
            - exec
          metadata:
            key: metadata
          processes:
          - ignore_app_secrets: true
            entrypoint:
            - entrypoint
            - entrypoint
            env_from:
            - field_ref: id
              env_var: env_var
            - field_ref: id
              env_var: env_var
            cmd:
            - cmd
            - cmd
            env:
              key: env
            secrets:
            - env_var: env_var
              name: name
            - env_var: env_var
              name: name
            user: user
            exec:
            - exec
            - exec
          - ignore_app_secrets: true
            entrypoint:
            - entrypoint
            - entrypoint
            env_from:
            - field_ref: id
              env_var: env_var
            - field_ref: id
              env_var: env_var
            cmd:
            - cmd
            - cmd
            env:
              key: env
            secrets:
            - env_var: env_var
              name: name
            - env_var: env_var
              name: name
            user: user
            exec:
            - exec
            - exec
          restart:
            max_retries: 1
            gpu_bid_price: 7.386281948385884
            policy: "no"
          auto_destroy: true
          dns:
            searches:
            - searches
            - searches
            hostname: hostname
            nameservers:
            - nameservers
            - nameservers
            options:
            - name: name
              value: value
            - name: name
              value: value
            skip_registration: true
            hostname_fqdn: hostname_fqdn
            dns_forward_rules:
            - basename: basename
              addr: addr
            - basename: basename
              addr: addr
          mounts:
          - volume: volume
            path: path
            encrypted: true
            size_gb_limit: 4
            extend_threshold_percent: 3
            name: name
            add_size_gb: 9
            size_gb: 2
          - volume: volume
            path: path
            encrypted: true
            size_gb_limit: 4
            extend_threshold_percent: 3
            name: name
            add_size_gb: 9
            size_gb: 2
          services:
          - min_machines_running: 7
            protocol: protocol
            checks:
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            force_instance_key: force_instance_key
            autostart: true
            internal_port: 6
            ports:
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            force_instance_description: force_instance_description
            autostop: "off"
            concurrency:
              soft_limit: 1
              type: type
              hard_limit: 1
          - min_machines_running: 7
            protocol: protocol
            checks:
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            force_instance_key: force_instance_key
            autostart: true
            internal_port: 6
            ports:
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            force_instance_description: force_instance_description
            autostop: "off"
            concurrency:
              soft_limit: 1
              type: type
              hard_limit: 1
          env:
            key: env
          statics:
          - tigris_bucket: tigris_bucket
            index_document: index_document
            guest_path: guest_path
            url_prefix: url_prefix
          - tigris_bucket: tigris_bucket
            index_document: index_document
            guest_path: guest_path
            url_prefix: url_prefix
          schedule: schedule
          checks:
            key:
              headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
          size: size
          files:
          - mode: 6
            secret_name: secret_name
            raw_value: raw_value
            guest_path: guest_path
          - mode: 6
            secret_name: secret_name
            raw_value: raw_value
            guest_path: guest_path
          guest:
            gpu_kind: gpu_kind
            cpus: 1
            host_dedication_id: host_dedication_id
            gpus: 5
            cpu_kind: cpu_kind
            memory_mb: 5
            kernel_args:
            - kernel_args
            - kernel_args
          disable_machine_autostart: true
          metrics:
            path: path
            port: 7
          standbys:
          - standbys
          - standbys
          stop_config:
            signal: signal
            timeout:
              time.Duration: 6
        events:
        - request: "{}"
          id: id
          source: source
          type: type
          status: status
          timestamp: 8
        - request: "{}"
          id: id
          source: source
          type: type
          status: status
          timestamp: 8
        incomplete_config:
          image: image
          init:
            entrypoint:
            - entrypoint
            - entrypoint
            swap_size_mb: 2
            tty: true
            cmd:
            - cmd
            - cmd
            kernel_args:
            - kernel_args
            - kernel_args
            exec:
            - exec
            - exec
          metadata:
            key: metadata
          processes:
          - ignore_app_secrets: true
            entrypoint:
            - entrypoint
            - entrypoint
            env_from:
            - field_ref: id
              env_var: env_var
            - field_ref: id
              env_var: env_var
            cmd:
            - cmd
            - cmd
            env:
              key: env
            secrets:
            - env_var: env_var
              name: name
            - env_var: env_var
              name: name
            user: user
            exec:
            - exec
            - exec
          - ignore_app_secrets: true
            entrypoint:
            - entrypoint
            - entrypoint
            env_from:
            - field_ref: id
              env_var: env_var
            - field_ref: id
              env_var: env_var
            cmd:
            - cmd
            - cmd
            env:
              key: env
            secrets:
            - env_var: env_var
              name: name
            - env_var: env_var
              name: name
            user: user
            exec:
            - exec
            - exec
          restart:
            max_retries: 1
            gpu_bid_price: 7.386281948385884
            policy: "no"
          auto_destroy: true
          dns:
            searches:
            - searches
            - searches
            hostname: hostname
            nameservers:
            - nameservers
            - nameservers
            options:
            - name: name
              value: value
            - name: name
              value: value
            skip_registration: true
            hostname_fqdn: hostname_fqdn
            dns_forward_rules:
            - basename: basename
              addr: addr
            - basename: basename
              addr: addr
          mounts:
          - volume: volume
            path: path
            encrypted: true
            size_gb_limit: 4
            extend_threshold_percent: 3
            name: name
            add_size_gb: 9
            size_gb: 2
          - volume: volume
            path: path
            encrypted: true
            size_gb_limit: 4
            extend_threshold_percent: 3
            name: name
            add_size_gb: 9
            size_gb: 2
          services:
          - min_machines_running: 7
            protocol: protocol
            checks:
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            force_instance_key: force_instance_key
            autostart: true
            internal_port: 6
            ports:
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            force_instance_description: force_instance_description
            autostop: "off"
            concurrency:
              soft_limit: 1
              type: type
              hard_limit: 1
          - min_machines_running: 7
            protocol: protocol
            checks:
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            force_instance_key: force_instance_key
            autostart: true
            internal_port: 6
            ports:
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            force_instance_description: force_instance_description
            autostop: "off"
            concurrency:
              soft_limit: 1
              type: type
              hard_limit: 1
          env:
            key: env
          statics:
          - tigris_bucket: tigris_bucket
            index_document: index_document
            guest_path: guest_path
            url_prefix: url_prefix
          - tigris_bucket: tigris_bucket
            index_document: index_document
            guest_path: guest_path
            url_prefix: url_prefix
          schedule: schedule
          checks:
            key:
              headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
          size: size
          files:
          - mode: 6
            secret_name: secret_name
            raw_value: raw_value
            guest_path: guest_path
          - mode: 6
            secret_name: secret_name
            raw_value: raw_value
            guest_path: guest_path
          guest:
            gpu_kind: gpu_kind
            cpus: 1
            host_dedication_id: host_dedication_id
            gpus: 5
            cpu_kind: cpu_kind
            memory_mb: 5
            kernel_args:
            - kernel_args
            - kernel_args
          disable_machine_autostart: true
          metrics:
            path: path
            port: 7
          standbys:
          - standbys
          - standbys
          stop_config:
            signal: signal
            timeout:
              time.Duration: 6
      properties:
        checks:
          items:
            $ref: '#/components/schemas/CheckStatus'
          type: array
        config:
          $ref: '#/components/schemas/fly.MachineConfig'
        created_at:
          type: string
        events:
          items:
            $ref: '#/components/schemas/MachineEvent'
          type: array
        host_status:
          enum:
          - ok
          - unknown
          - unreachable
          type: string
        id:
          type: string
        image_ref:
          $ref: '#/components/schemas/ImageRef'
        incomplete_config:
          $ref: '#/components/schemas/fly.MachineConfig'
        instance_id:
          description: InstanceID is unique for each version of the machine
          type: string
        name:
          type: string
        nonce:
          description: Nonce is only every returned on machine creation if a lease_duration
            was provided.
          type: string
        private_ip:
          description: PrivateIP is the internal 6PN address of the machine.
          type: string
        region:
          type: string
        state:
          type: string
        updated_at:
          type: string
      type: object
    MachineEvent:
      example:
        request: "{}"
        id: id
        source: source
        type: type
        status: status
        timestamp: 8
      properties:
        id:
          type: string
        request:
          type: object
        source:
          type: string
        status:
          type: string
        timestamp:
          format: int64
          type: integer
        type:
          type: string
      type: object
    MachineExecRequest:
      example:
        cmd: cmd
        command:
        - command
        - command
        timeout: 0
      properties:
        cmd:
          description: "Deprecated: use Command instead"
          type: string
        command:
          items:
            type: string
          type: array
        timeout:
          type: integer
      type: object
    MachineVersion:
      example:
        version: version
        user_config:
          image: image
          init:
            entrypoint:
            - entrypoint
            - entrypoint
            swap_size_mb: 2
            tty: true
            cmd:
            - cmd
            - cmd
            kernel_args:
            - kernel_args
            - kernel_args
            exec:
            - exec
            - exec
          metadata:
            key: metadata
          processes:
          - ignore_app_secrets: true
            entrypoint:
            - entrypoint
            - entrypoint
            env_from:
            - field_ref: id
              env_var: env_var
            - field_ref: id
              env_var: env_var
            cmd:
            - cmd
            - cmd
            env:
              key: env
            secrets:
            - env_var: env_var
              name: name
            - env_var: env_var
              name: name
            user: user
            exec:
            - exec
            - exec
          - ignore_app_secrets: true
            entrypoint:
            - entrypoint
            - entrypoint
            env_from:
            - field_ref: id
              env_var: env_var
            - field_ref: id
              env_var: env_var
            cmd:
            - cmd
            - cmd
            env:
              key: env
            secrets:
            - env_var: env_var
              name: name
            - env_var: env_var
              name: name
            user: user
            exec:
            - exec
            - exec
          restart:
            max_retries: 1
            gpu_bid_price: 7.386281948385884
            policy: "no"
          auto_destroy: true
          dns:
            searches:
            - searches
            - searches
            hostname: hostname
            nameservers:
            - nameservers
            - nameservers
            options:
            - name: name
              value: value
            - name: name
              value: value
            skip_registration: true
            hostname_fqdn: hostname_fqdn
            dns_forward_rules:
            - basename: basename
              addr: addr
            - basename: basename
              addr: addr
          mounts:
          - volume: volume
            path: path
            encrypted: true
            size_gb_limit: 4
            extend_threshold_percent: 3
            name: name
            add_size_gb: 9
            size_gb: 2
          - volume: volume
            path: path
            encrypted: true
            size_gb_limit: 4
            extend_threshold_percent: 3
            name: name
            add_size_gb: 9
            size_gb: 2
          services:
          - min_machines_running: 7
            protocol: protocol
            checks:
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            force_instance_key: force_instance_key
            autostart: true
            internal_port: 6
            ports:
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            force_instance_description: force_instance_description
            autostop: "off"
            concurrency:
              soft_limit: 1
              type: type
              hard_limit: 1
          - min_machines_running: 7
            protocol: protocol
            checks:
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            - headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
            force_instance_key: force_instance_key
            autostart: true
            internal_port: 6
            ports:
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            - force_https: true
              port: 9
              handlers:
              - handlers
              - handlers
              start_port: 9
              tls_options:
                alpn:
                - alpn
                - alpn
                default_self_signed: true
                versions:
                - versions
                - versions
              proxy_proto_options:
                version: version
              end_port: 1
              http_options:
                headers_read_timeout: 4
                compress: true
                response:
                  headers:
                    key: "{}"
                  pristine: true
                idle_timeout: 5
                h2_backend: true
            force_instance_description: force_instance_description
            autostop: "off"
            concurrency:
              soft_limit: 1
              type: type
              hard_limit: 1
          env:
            key: env
          statics:
          - tigris_bucket: tigris_bucket
            index_document: index_document
            guest_path: guest_path
            url_prefix: url_prefix
          - tigris_bucket: tigris_bucket
            index_document: index_document
            guest_path: guest_path
            url_prefix: url_prefix
          schedule: schedule
          checks:
            key:
              headers:
              - values:
                - values
                - values
                name: name
              - values:
                - values
                - values
                name: name
              path: path
              protocol: protocol
              method: method
              port: 0
              kind: informational
              tls_server_name: tls_server_name
              interval: "{}"
              tls_skip_verify: true
              type: type
              grace_period: "{}"
              timeout: "{}"
          size: size
          files:
          - mode: 6
            secret_name: secret_name
            raw_value: raw_value
            guest_path: guest_path
          - mode: 6
            secret_name: secret_name
            raw_value: raw_value
            guest_path: guest_path
          guest:
            gpu_kind: gpu_kind
            cpus: 1
            host_dedication_id: host_dedication_id
            gpus: 5
            cpu_kind: cpu_kind
            memory_mb: 5
            kernel_args:
            - kernel_args
            - kernel_args
          disable_machine_autostart: true
          metrics:
            path: path
            port: 7
          standbys:
          - standbys
          - standbys
          stop_config:
            signal: signal
            timeout:
              time.Duration: 6
      properties:
        user_config:
          $ref: '#/components/schemas/fly.MachineConfig'
        version:
          type: string
      type: object
    Organization:
      example:
        name: name
        slug: slug
      properties:
        name:
          type: string
        slug:
          type: string
      type: object
    ProcessStat:
      example:
        listen_sockets:
        - address: address
          proto: proto
        - address: address
          proto: proto
        rss: 1
        rtime: 5
        cpu: 0
        pid: 6
        stime: 5
        directory: directory
        command: command
      properties:
        command:
          type: string
        cpu:
          type: integer
        directory:
          type: string
        listen_sockets:
          items:
            $ref: '#/components/schemas/ListenSocket'
          type: array
        pid:
          type: integer
        rss:
          type: integer
        rtime:
          type: integer
        stime:
          type: integer
      type: object
    SignalRequest:
      example:
        signal: SIGABRT
      properties:
        signal:
          enum:
          - SIGABRT
          - SIGALRM
          - SIGFPE
          - SIGHUP
          - SIGILL
          - SIGINT
          - SIGKILL
          - SIGPIPE
          - SIGQUIT
          - SIGSEGV
          - SIGTERM
          - SIGTRAP
          - SIGUSR1
          type: string
      type: object
    StopRequest:
      example:
        signal: signal
        timeout:
          time.Duration: 6
      properties:
        signal:
          type: string
        timeout:
          $ref: '#/components/schemas/fly.Duration'
      type: object
    UpdateMachineRequest:
      example:
        skip_service_registration: true
        lsvd: true
        name: name
        current_version: current_version
        lease_ttl: 0
        region: region
        config: "{}"
        skip_launch: true
      properties:
        config:
          allOf:
          - $ref: '#/components/schemas/fly.MachineConfig'
          description: An object defining the Machine configuration
          type: object
        current_version:
          type: string
        lease_ttl:
          type: integer
        lsvd:
          type: boolean
        name:
          description: "Unique name for this Machine. If omitted, one is generated\
            \ for you"
          type: string
        region:
          description: The target region. Omitting this param launches in the same
            region as your WireGuard peer connection (somewhere near you).
          type: string
        skip_launch:
          type: boolean
        skip_service_registration:
          type: boolean
      type: object
    UpdateVolumeRequest:
      example:
        auto_backup_enabled: true
        snapshot_retention: 0
      properties:
        auto_backup_enabled:
          type: boolean
        snapshot_retention:
          type: integer
      type: object
    Volume:
      example:
        auto_backup_enabled: true
        blocks: 6
        attached_machine_id: attached_machine_id
        created_at: created_at
        snapshot_retention: 2
        host_status: ok
        blocks_free: 5
        encrypted: true
        zone: zone
        blocks_avail: 1
        name: name
        size_gb: 5
        attached_alloc_id: attached_alloc_id
        id: id
        state: state
        region: region
        block_size: 0
        fstype: fstype
      properties:
        attached_alloc_id:
          type: string
        attached_machine_id:
          type: string
        auto_backup_enabled:
          type: boolean
        block_size:
          type: integer
        blocks:
          type: integer
        blocks_avail:
          type: integer
        blocks_free:
          type: integer
        created_at:
          type: string
        encrypted:
          type: boolean
        fstype:
          type: string
        host_status:
          enum:
          - ok
          - unknown
          - unreachable
          type: string
        id:
          type: string
        name:
          type: string
        region:
          type: string
        size_gb:
          type: integer
        snapshot_retention:
          type: integer
        state:
          type: string
        zone:
          type: string
      type: object
    VolumeSnapshot:
      example:
        size: 6
        retention_days: 0
        digest: digest
        created_at: created_at
        id: id
        status: status
      properties:
        created_at:
          type: string
        digest:
          type: string
        id:
          type: string
        retention_days:
          type: integer
        size:
          type: integer
        status:
          type: string
      type: object
    fly.DNSConfig:
      example:
        searches:
        - searches
        - searches
        hostname: hostname
        nameservers:
        - nameservers
        - nameservers
        options:
        - name: name
          value: value
        - name: name
          value: value
        skip_registration: true
        hostname_fqdn: hostname_fqdn
        dns_forward_rules:
        - basename: basename
          addr: addr
        - basename: basename
          addr: addr
      properties:
        dns_forward_rules:
          items:
            $ref: '#/components/schemas/fly.dnsForwardRule'
          type: array
        hostname:
          type: string
        hostname_fqdn:
          type: string
        nameservers:
          items:
            type: string
          type: array
        options:
          items:
            $ref: '#/components/schemas/fly.dnsOption'
          type: array
        searches:
          items:
            type: string
          type: array
        skip_registration:
          type: boolean
      type: object
    fly.Duration:
      example:
        time.Duration: 6
      properties:
        time.Duration:
          type: integer
          x-enum-varnames:
          - minDuration
          - maxDuration
          - Nanosecond
          - Microsecond
          - Millisecond
          - Second
          - Minute
          - Hour
          - Nanosecond
          - Microsecond
          - Millisecond
          - Second
          - Minute
          - Hour
      type: object
    fly.EnvFrom:
      description: "EnvVar defines an environment variable to be populated from a\
        \ machine field, env_var"
      example:
        field_ref: id
        env_var: env_var
      properties:
        env_var:
          description: |-
            EnvVar is required and is the name of the environment variable that will be set from the
            secret. It must be a valid environment variable name.
          type: string
        field_ref:
          description: "FieldRef selects a field of the Machine: supports id, version,\
            \ app_name, private_ip, region, image."
          enum:
          - id
          - version
          - app_name
          - private_ip
          - region
          - image
          type: string
      type: object
    fly.File:
      description: A file that will be written to the Machine. One of RawValue or
        SecretName must be set.
      example:
        mode: 6
        secret_name: secret_name
        raw_value: raw_value
        guest_path: guest_path
      properties:
        guest_path:
          description: |-
            GuestPath is the path on the machine where the file will be written and must be an absolute path.
            For example: /full/path/to/file.json
          type: string
        mode:
          description: Mode bits used to set permissions on this file as accepted
            by chmod(2).
          type: integer
        raw_value:
          description: The base64 encoded string of the file contents.
          type: string
        secret_name:
          description: The name of the secret that contains the base64 encoded file
            contents.
          type: string
      type: object
    fly.HTTPOptions:
      example:
        headers_read_timeout: 4
        compress: true
        response:
          headers:
            key: "{}"
          pristine: true
        idle_timeout: 5
        h2_backend: true
      properties:
        compress:
          type: boolean
        h2_backend:
          type: boolean
        headers_read_timeout:
          type: integer
        idle_timeout:
          type: integer
        response:
          $ref: '#/components/schemas/fly.HTTPResponseOptions'
      type: object
    fly.HTTPResponseOptions:
      example:
        headers:
          key: "{}"
        pristine: true
      properties:
        headers:
          additionalProperties:
            type: object
          type: object
        pristine:
          type: boolean
      type: object
    fly.MachineCheck:
      description: An optional object that defines one or more named checks. The key
        for each check is the check name.
      example:
        headers:
        - values:
          - values
          - values
          name: name
        - values:
          - values
          - values
          name: name
        path: path
        protocol: protocol
        method: method
        port: 0
        kind: informational
        tls_server_name: tls_server_name
        interval: "{}"
        tls_skip_verify: true
        type: type
        grace_period: "{}"
        timeout: "{}"
      properties:
        grace_period:
          allOf:
          - $ref: '#/components/schemas/fly.Duration'
          description: The time to wait after a VM starts before checking its health
          type: object
        headers:
          items:
            $ref: '#/components/schemas/fly.MachineHTTPHeader'
          type: array
        interval:
          allOf:
          - $ref: '#/components/schemas/fly.Duration'
          description: The time between connectivity checks
          type: object
        kind:
          description: "Kind of the check (informational, readiness)"
          enum:
          - informational
          - readiness
          type: string
        method:
          description: "For http checks, the HTTP method to use to when making the\
            \ request"
          type: string
        path:
          description: "For http checks, the path to send the request to"
          type: string
        port:
          description: "The port to connect to, often the same as internal_port"
          type: integer
        protocol:
          description: "For http checks, whether to use http or https"
          type: string
        timeout:
          allOf:
          - $ref: '#/components/schemas/fly.Duration'
          description: The maximum time a connection can take before being reported
            as failing its health check
          type: object
        tls_server_name:
          description: "If the protocol is https, the hostname to use for TLS certificate\
            \ validation"
          type: string
        tls_skip_verify:
          description: "For http checks with https protocol, whether or not to verify\
            \ the TLS certificate"
          type: boolean
        type:
          description: tcp or http
          type: string
      type: object
    fly.MachineConfig:
      example:
        image: image
        init:
          entrypoint:
          - entrypoint
          - entrypoint
          swap_size_mb: 2
          tty: true
          cmd:
          - cmd
          - cmd
          kernel_args:
          - kernel_args
          - kernel_args
          exec:
          - exec
          - exec
        metadata:
          key: metadata
        processes:
        - ignore_app_secrets: true
          entrypoint:
          - entrypoint
          - entrypoint
          env_from:
          - field_ref: id
            env_var: env_var
          - field_ref: id
            env_var: env_var
          cmd:
          - cmd
          - cmd
          env:
            key: env
          secrets:
          - env_var: env_var
            name: name
          - env_var: env_var
            name: name
          user: user
          exec:
          - exec
          - exec
        - ignore_app_secrets: true
          entrypoint:
          - entrypoint
          - entrypoint
          env_from:
          - field_ref: id
            env_var: env_var
          - field_ref: id
            env_var: env_var
          cmd:
          - cmd
          - cmd
          env:
            key: env
          secrets:
          - env_var: env_var
            name: name
          - env_var: env_var
            name: name
          user: user
          exec:
          - exec
          - exec
        restart:
          max_retries: 1
          gpu_bid_price: 7.386281948385884
          policy: "no"
        auto_destroy: true
        dns:
          searches:
          - searches
          - searches
          hostname: hostname
          nameservers:
          - nameservers
          - nameservers
          options:
          - name: name
            value: value
          - name: name
            value: value
          skip_registration: true
          hostname_fqdn: hostname_fqdn
          dns_forward_rules:
          - basename: basename
            addr: addr
          - basename: basename
            addr: addr
        mounts:
        - volume: volume
          path: path
          encrypted: true
          size_gb_limit: 4
          extend_threshold_percent: 3
          name: name
          add_size_gb: 9
          size_gb: 2
        - volume: volume
          path: path
          encrypted: true
          size_gb_limit: 4
          extend_threshold_percent: 3
          name: name
          add_size_gb: 9
          size_gb: 2
        services:
        - min_machines_running: 7
          protocol: protocol
          checks:
          - headers:
            - values:
              - values
              - values
              name: name
            - values:
              - values
              - values
              name: name
            path: path
            protocol: protocol
            method: method
            port: 0
            kind: informational
            tls_server_name: tls_server_name
            interval: "{}"
            tls_skip_verify: true
            type: type
            grace_period: "{}"
            timeout: "{}"
          - headers:
            - values:
              - values
              - values
              name: name
            - values:
              - values
              - values
              name: name
            path: path
            protocol: protocol
            method: method
            port: 0
            kind: informational
            tls_server_name: tls_server_name
            interval: "{}"
            tls_skip_verify: true
            type: type
            grace_period: "{}"
            timeout: "{}"
          force_instance_key: force_instance_key
          autostart: true
          internal_port: 6
          ports:
          - force_https: true
            port: 9
            handlers:
            - handlers
            - handlers
            start_port: 9
            tls_options:
              alpn:
              - alpn
              - alpn
              default_self_signed: true
              versions:
              - versions
              - versions
            proxy_proto_options:
              version: version
            end_port: 1
            http_options:
              headers_read_timeout: 4
              compress: true
              response:
                headers:
                  key: "{}"
                pristine: true
              idle_timeout: 5
              h2_backend: true
          - force_https: true
            port: 9
            handlers:
            - handlers
            - handlers
            start_port: 9
            tls_options:
              alpn:
              - alpn
              - alpn
              default_self_signed: true
              versions:
              - versions
              - versions
            proxy_proto_options:
              version: version
            end_port: 1
            http_options:
              headers_read_timeout: 4
              compress: true
              response:
                headers:
                  key: "{}"
                pristine: true
              idle_timeout: 5
              h2_backend: true
          force_instance_description: force_instance_description
          autostop: "off"
          concurrency:
            soft_limit: 1
            type: type
            hard_limit: 1
        - min_machines_running: 7
          protocol: protocol
          checks:
          - headers:
            - values:
              - values
              - values
              name: name
            - values:
              - values
              - values
              name: name
            path: path
            protocol: protocol
            method: method
            port: 0
            kind: informational
            tls_server_name: tls_server_name
            interval: "{}"
            tls_skip_verify: true
            type: type
            grace_period: "{}"
            timeout: "{}"
          - headers:
            - values:
              - values
              - values
              name: name
            - values:
              - values
              - values
              name: name
            path: path
            protocol: protocol
            method: method
            port: 0
            kind: informational
            tls_server_name: tls_server_name
            interval: "{}"
            tls_skip_verify: true
            type: type
            grace_period: "{}"
            timeout: "{}"
          force_instance_key: force_instance_key
          autostart: true
          internal_port: 6
          ports:
          - force_https: true
            port: 9
            handlers:
            - handlers
            - handlers
            start_port: 9
            tls_options:
              alpn:
              - alpn
              - alpn
              default_self_signed: true
              versions:
              - versions
              - versions
[...]
